{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block content %}
  <a class="btn btn-primary" href="{% url 'car:sell' %}">List Car</a><br/><br/>

  {% for object in object_list %}
    <div class="card">
      <div class="card-header">ID:- {{object.id}} <span class="float-right">Created:- {{object.created|date:"M d, Y" }}</span></div>
      <div class="card-body">
        <h5 class="card-title">{{ object.model }}</h5>
        <p class="card-text">
          Make:- {{ object.make }} <br>
          Year:- {{ object.year|date:"M d, Y"  }} <br>
          Condition:- {{ object.condition }} <br>
          Price:- {{ object.price }} <br>
        </p>
        {% if object.is_sold %}
          <button href="#" disabled class="btn btn-danger float-right">SOLD</button>
        {% else %}
          <a href="#" class="btn btn-primary float-right">Buy</a>
        {% endif %}
      </div>
    </div><br>
  {% endfor %}
  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
        </li>
      {% endif %}
        <li class="">
          <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        </li>
     {% if page_obj.has_next %}
        <li>
            <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        </li>
      {% endif %}
    </ul>
  {% else %}
    <h3>Your File Exam</h3>
    <p>File not yet available</p>
  {% endif %}
{% endblock %}

{% block js %}
{% endblock %}